<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список речей</title>
</head>
<header><a href="/">Головна сторінка</a></header>
<body>
<h1>Список речей</h1>
<ul>
        <% things.forEach((thing) => { %>
        <li>
            <a href="/<%= thing.id %>">
                <%= thing.name %>, <%= thing.place %>, <%= thing.id%>
            </a>
        </li>
    <% }); %>
</ul>
</body>
</html>
