<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список речей</title>
</head>
<body>
<h1>Список речей</h1>
<ul>
        <% things.forEach((thing) => { %>
        <li><%= thing.name %>, <%= thing.place%> </li>
        <% }); %>
</ul>
<ul>

</ul>
</body>
</html>
