body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #ecdddd;
    color: #333;
}

header {
    width: 15%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #9a3030;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #2d0808;
}

.thing-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    list-style: none;
    justify-content: center;
}

.thing-list li {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    width: 220px;
    box-sizing: border-box;
    transition: transform 0.2s;
}

.thing-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.thing-list a {
    color: #170101;
    text-decoration: none;
    font-size: 16px;
    display: block;
    height: 100%;
}

.thing-list a:hover {
    text-decoration: underline;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 5px;
}

.pagination li {
    display: inline-block;
}

.pagination a {
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #e6e6e6;
}

.pagination a.active {
    background-color: #b3534a;
    color: white;
    font-weight: bold;
    border-color: #9a3030;
}
