<head>
    <link rel="stylesheet" href="dinamic.css">
</head>
<header>
    <img src="../images/arrowleft.png" width="20px" alt="" style="margin-right: 10px">
    <a href="/">Головна сторінка</a>
</header>

<div class="all">
    <p id="p1">Привіт, це <%= name %>!</p>
    <div class="person">
        <img src="<%= img %>" alt="" width="500" height="300">
        <div class="opys">
            Про мене
            <p>  <%= description %>! </p>
        </div>
    </div>
</div>
